<%= link_to article_path(@articles.sort_by_votes[0]) do %> <%#= sort_articles[0] %>
  <%= render "articles/featured_article" %>
<% end %>      
  
<div class="grid md:grid-cols-2 lg:grid-cols-4">
  <%= render "articles/category_articles" %>
</div>

<%= render "layouts/footer" %>
