<div class="grid lg:grid-cols-3 justify-items-center py-6 px-2">
  <div class="flex flex-col items-center sm:flex-row">
    <%= link_to "Privacy", "#", class: "hover:underline px-2 py-1 xl:py-0" %>
    <%= link_to "Policy", "#", class: "hover:underline px-2 py-1 xl:py-0" %>
    <%= link_to "Terms & Conditions", "#", class: "hover:underline px-2 py-1 xl:py-0" %>
  </div>
  <div>
    <p class="px-1 pt-1 pb-1.5 xl:py-0">Copyright 2021. All rights reserved</p>
  </div>
  <div>
    <%= link_to "Have a question? Contact us", "#", class: "hover:underline py-1 xl:py-0" %>
  </div>
</div>